{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ post.title }} - Mi Blog</title>
    <link rel="stylesheet" href="{% static 'blog/style.css' %}">
</head>
<body>
    <header class="site-header">
        <div class="container header-container">
            <h1 class="site-title"><a href="{% url 'blog:post_list' %}">Bienvenido a Mi Blog</a></h1>
            {# Aquí podríamos añadir un menú de navegación en el futuro #}
            <nav class="site-nav">
                <a href="#">Inicio</a>
                <a href="#">Categorías</a>
                <a href="#">Acerca de</a>
            </nav>
        </div>
    </header>
    <div class="container main-content"> 
        <p class="back-link"><a href="{% url 'blog:post_list' %}">Volver a la lista de posts</a></p>
        <hr>

        <h1>{{ post.title }}</h1>
        <p class="post-meta">
            Publicado el: {{ post.published_date|date:"d F Y, H:i" }}
            por {{ post.author.username }}
        </p>
        <div class="post-content">
            {# mostramos el contenido completo, con saltos de linea #}
            {{ post.content|linebreaks }}
        </div>
    </div>

    <footer class="site-footer-main">
        <div class="container">
            <p>© {% now "Y" %} Mi Blog Personal. Todos los derechos reservados.</p>
        </div>
    </footer>

</body>
</html>